<div class='lightbox js-lightbox' , data-action='{{id}}'>
  <div class='lightbox__overlay'></div>
  <div class='lightbox__content'>
    <button type='button' class='lightbox__button' data-action='close-lightbox'>
    </button>
    <img
      class='lightbox__image'
      src='https://image.tmdb.org/t/p/w300{{poster_path}}'
      alt='{{title}}'
    />
    <div class='lightbox__information'>
      <h2 class='lightbox__title'> {{title}}</h2>
      <ul class='lightbox__list list'>
        <li class='lightbox__list__item'>
          <p class='item__list-title'> Vote / Votes</p>
          <p class=''>
            <span class='content__rating'> {{vote_average}}</span>

            /
            <span class='content__vote'>{{vote_count}}</span>
          </p>
        </li>
        <li class='lightbox__list__item'>
          <p class='item__list-title'>Popularity</p>
          <p class='item-info-popul'>
            {{popularity}}</p>
        </li>
        <li class='lightbox__list__item'>
          <p class='item__list-title'>Original Title</p>
          <span class='item-info-orig'>
            {{original_title}}
          </span>
        </li>
        <li class='lightbox__list__item'>
          <p class='item__list-title'>Genre</p>
          <span class='item-info-gen'>
            {{#each genres}}{{#if @first}}{{this.name}}{{/if}}{{/each}}
          </span>
        </li>
      </ul>
      <h3 class='lightbox__about'>About</h3>
      <p class='lightbox__text'>{{overview}}
      </p>
      <div class='buttons-content'>
        <button
          class='content__btn js-modal-watched'
          type='button'
          data-action='btn-to-wached'
          value='Watched'
        >add to Watched</button>
        <button
          class='content__btn js-modal-queue'
          type='button'
          data-action='btn-to-queue'
          value='Queue'
        >add to queue</button>
      </div>
    </div>
  </div>
</div>